* {
    box-sizing: border-box;
}


/* For mobile phone */

@media only screen and (max-width: 812px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}


/* For tablet */

@media only screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}


/* For desktop */

@media only screen and (min-width: 900px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #18477C;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 20px;
    font-family: Baloo Bhaina;
}

.layer1 {
    width: 100%;
    height: 100%;
    background-color: #FAF0E6;
    padding: 10px;
    border-radius: 10px;
}

.kosong {
    width: 100%;
    height: 400px;
    background-color: #88B7C5;
    border-radius: 10px;   
    font-family: Baloo Bhaina;
    text-align: center;
}

.namahari {
    font-family: Baloo Bhaina;
    color: whitesmoke;
    font-size: 25px;
}

.kotakhari {
    width: 100%;
    height: 100%;
    background-color: #A36666;
    padding: 15px;
    text-align: center;
    border-radius: 20px;   
}

.kotakquotes {
    width: 100%;
    height: 25%;
    border-radius: 20px;
    font-size: 25px;
    background-color: #606890;
    font-family: Baloo Bhaina;
    text-align: center;
    color: whitesmoke
}

.kotaksave {
    width: 100%;
    height: 25%;
    background-color: #dfc453;
    border-radius: 20px;
    font-size: 25px;
    font-family: Baloo Bhaina;
    color: black;
    text-align: center;
    box-shadow: 0 4px #18477C;
}

.kotaksave:active {
    box-shadow: 0 0 #ECD4FF;
    transform: translateY(8px);
}
.text{
    padding: 3px;
}