* {
    box-sizing: border-box;
}


/* For mobile phone */

@media only screen and (max-width: 812px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}


/* For tablet */

@media only screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}


/* For desktop */

@media only screen and (min-width: 900px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #3C2F2F;
}

.layer1 {
    width: 100%;
    height: 100%;
    background-color: #FAF0E6;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.kotakletsstart {
    width: 100%;
    height: 100%;
    background-color: #854442;
    border-radius: 20px;
    font-family: Baloo Bhaina;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    padding: 30px;
}

.kotakactivity1 {
    width: 100%;
    height: 130px;
    background-color: #854442;
    border-radius: 20px;
    padding: 13px 10px 0px 10px;
}

.kotakactivity2 {
    width: 100%;
    height: 50px;
    background-color: #BE9B7B;
    border-radius: 10px;
    padding: 13px 19px 0px 19px;
}

.kotakactivity3 {
    width: 100%;
    height: 160px;
    background-color: #854442;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    margin-bottom: 10px;
}

.kotakkotak {
    width: 100%;
    height: 50px;
    background-color: #BE9B7B;
    border-radius: 10px;
    padding: 10px;

}

.input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

.kotakadd {
    width: 50%;
    height: 40px;
    background-color: #BE9B7B;
    border-radius: 10px;
    font-family: Baloo Bhaina;
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    padding-top: 5px;
    border: whitesmoke;
    box-shadow: 0 4px #4B3832;
}

.kotakadd:active {
    box-shadow: 0 0 #4B3832;
    transform: translateY(8px);
}

.kotakutamakanan {
    width: 100%;
    background-color: #BE9B7B;
    border-radius: 20px;
    float: right;
    padding: 25px 10px 25px 10px;
}

.tombol {
    width: 12%;
    height: 50%;
    background-color: black;
    display: inline-block;
    margin-top: 15px;
    border-radius: 100px;
}

.timestamp {
    width: 30%;
    height: 35px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 15px;
    font-family: Baloo Bhaina;
    text-align: center;
    float: right;
    margin: 35px;
    border-radius: 10px;
}

.kotakatas {
    width: 100%;
    height: 50px;
    background-color: #4B3832;
    padding: 10px;
    border-radius: 20px;
}

.kotaktombolatas {
    width: 28%;
    height: 30px;
    background-color: whitesmoke;
    float: left;
    border-radius: 10px;
    text-align: center;
    font-family: Baloo Bhaina;
    box-shadow: 0 4px;

}

.kotaktombolatas:active {
    box-shadow: 0 0;
    transform: translateY(8px);
}